@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --color-degradate: linear-gradient(to right, #ff5757, #8c52ff);
    --color-primary: #7a6bbc;
    --color-secondary: #d4cbff;
    --color-gray: #8b8b8b;
    --color-light: #f6f6ff;
}

html {
    font-family: 'Poppins', sans-serif;   
}

body {
    background: var(--color-light);    
}

/* GENERALES */

/* BANNER */
.banner {    
    background: var(--color-degradate);    
    height: 20vh;
}

.form__icon {
    background-color: var(--color-primary);
    font-size: 1.2rem;
}

.form__input {
    border: 1px solid var(--color-primary);
    outline: none;
    text-align: center;
    width: 100%;
    color: var(--color-primary);
}

.form__input::placeholder {
    text-align: center;
    color: var(--color-primary);    
}

.form__button {
    background: var(--color-degradate);
    cursor: pointer;
}


@media (min-width: 493px) {
    .banner {            
        height: 25vh;
    }
}

@media (min-width: 768px) {
    .banner {            
        height: 30vh;
    }
}

@media (min-width: 1021px) {
    .banner {            
        height: 35vh;
    }
}

@media (min-width: 1280px) {
    .banner {            
        height: 40vh;
    }
}

@media (min-width: 1440px) {
    .banner {            
        height: 45vh;
    }
}